# Python - Arquivos de cache que sao gerados automaticamente
__pycache__/
*.py[cod]
*$py.class

# Mypy e ferramentas de lint
.mypy_cache/
.flake8

# Pacotes e Distribuição (para a parte da Maria)
build/
dist/
*.egg-info/
*.whl
*.tar.gz

# Ambientes Virtuais
venv/
.venv/
env/

# Sistema Operacional
.DS_Store
thumbs.db